/*
*{
  margin:0;
  padding:0;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


body{
     background-color:#7fffd4;
     color:#DEB887;
 
     font: normal 20px  Rubik, arial, helvetica, sans-serif;
      line-height:1.6em;
      margin:0;
     font-weight: bold;
}

a{
    text-decoration: none;
    color:#DEB887;
}

a:hover{
      color:red;
}

a:active{
       color:green;
}

a:visited{
       color:grey;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #00FFFF;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #DEB887;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #7FFF00;
  color: #DEB887;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #008B8B;
  color: #DEB887;
}

img {
 margin-top: 100px; 
}

div.base{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: left;
	background-color: #00FFFF;
	color: #DEB887;
	border: 3px solid #00FFFF;
}




input[type=text], input[type=email] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #00FFFF;
  border: none;
  color: #DEB887;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 600 bold
}

body {
    background-image: url(../media/sttglogo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 25% 30%;
    background-color:#E0FFFF;
    background-position: 5% 10%;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body { 
	font-family: Rubik;
}

div.clear {
	clear: both;
}

div.item {
	width: 100%;
	margin: 2px;
	background-color: #B0E0E6;
	box-sizing: border-box;
}

@media screen and (min-width: 800px) {
	div.item {
		float: left;
		width: 33%;
		box-sizing: border-box;
	}
}